<div class="container">
  <div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Music App</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="playlists">Playlists</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="music">Music search</a>
                  </li>
              </ul>
            </div>
          </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

